body{
    background: rgb(0, 102, 255);
    margin: 0 auto;
}

.snowflake {
    position: absolute;
    width: 2.1528525296017222vh;
    height: 2.1528525296017222vh;
    background: linear-gradient(white, white);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}

#lewy{
    float:left;
    width: 20vw;
    height: 96.8783638320775vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#prawy{
    float:left;
    width: 80vw;
    height: 96.8783638320775vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.045209903121636vh;
}

#przycisk{
    width: 26.910656620021527vh;
    height: 5.382131324004305vh;
    border: 0.10764262648008611vh solid rgb(0, 102, 255);
    color: white;
    background-color: rgb(102, 153, 255);
    font-size: 2.1528525296017222vh;
    cursor: pointer;
    border-radius: 2.6910656620021527vh;
}

#przycisk:hover{
    border: 0.10764262648008611vh solid rgb(0, 102, 255);
    color: rgb(0, 102, 255);
    background-color: white;
}

h1,h2{
    text-align: center;
}

form input{
    height: 6.458557588805167vh;
    width: 32.29278794402583vh;
    font-size: 1.7222820236813778vh;
    padding: 1.0764262648008611vh;
    border-radius: 0.5382131324004306vh;
    border: 0.10764262648008611vh solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form button{
    margin-left: 3.2292787944025836vh;
}

.tresc{
    width: 100vw;
    height: 100vh;
}