body{
    background: rgb(0, 102, 255);
    margin: 0 auto;
}

.tresc{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-size: 2.1528525296017222vh;;
}


#przycisk{
    width: 27.20348204570185vh;
    height: 5.44069640914037vh;
    border: 1px solid rgb(0, 102, 255);
    color: white;
    background-color: rgb(102, 153, 255);
    font-size: 2.1528525296017222vh;
    cursor: pointer;
    border-radius: 2.6910656620021527vh;
}

#przycisk:hover{
    border: 0.10764262648008611vh solid rgb(0, 102, 255);
    color: rgb(0, 102, 255);
    background-color: white;
}

.snowflake {
    position: absolute;
    width: 2.1528525296017222vh;
    height: 2.1528525296017222vh;
    background: linear-gradient(white, white);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}
